body{
    background-color: beige;
color: brown;
}

header {text-align: center;
    font-size: 100px;
    color: brown;
    border-bottom: solid 5px brown;
    font-family: sans-serif;
}

section {
    background-color: beige;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    width: 40px;
height: 600px;
margin-top: 70px;
margin-bottom: 70px;
justify-content: center;
}

.chamada-texto{
    margin-right: 4%;
}



img{
    width: 400px;
height: 600px;
margin-top: 70px;
margin-bottom: 70;
justify-content: center;
}